@media only screen and (min-width: 320px) and (max-width: 375px) {
    .biosecurity-sheet-subtext {
        padding: 30px 60px;
    }

    .contribute-right-button {
        width: 145px;
        height: 50px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1920px){
    .nav-bar {
        height: 64px;
    }

    .nav-bar-item {
        font-size: 1.5rem;
    }

    .circle {
        width: 200px;
        height: 200px;
    }

    .title {
        font-size: 9.375rem;
    }

    .text {
        font-size: 1.875rem;
    }

    .biosecurity {
        height: 45vh;
    }

    .biosecurity-sheet {
        top: 60%;
    }

    .biosecurity-sheet-main {
        font-size: 3rem;
    }

    .biosecurity-sheet-title {
        font-size: 3rem;
    }

    .biosecurity-sheet-subtext {
        font-size: 1.5rem;
        padding: 30px 650px;
    }

    .biosecurity-sheet-button {
        width: 210px;
        height: 65px;
    }

    .contribute-container {
        margin: 0 400px;
    }

    .contribute-right-title {
        font-size: 3rem;
        padding: 0 50px;
    }

    .contribute-right-forests {
        font-size: 3rem;
    }

    .contribute-right-text {
        padding: 0 50px;
        font-size: 1.5rem;
    }

    .contribute-right-button {
        width: 210px;
        height: 65px;

        font-size: inherit;
    }

    .ending-social img {
        width: 35%;
    }

    .ending-webtemplate {
        font-size: 1.25rem;
    }

    .ending-signature {
        font-size: 1rem;
    }
}